<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Programa de innovación de FADCANIC</title>
        <meta name="description" content="Thumbnail Grid with Expanding Preview" />
        <meta name="keywords" content="thumbnails, grid, preview, google image search, jquery, image grid, expanding, preview, portfolio" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
        <script src="/static/js/modernizr.custom.js"></script>
    </head>
<body>
    {% block contenido %}

    {% endblock contenido %}
    <script src="/static/js/jquery-1.12.0.js"></script>
        <script src="/static/js/grid.js"></script>
        <script>
            $(function() {
                Grid.init();
            });
        </script>
</body>
</html>
