{% extends "base.html" %}

{% block contenido %}
<div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top clearfix">
                <a href="/"><strong>&laquo; FADCANIC: </strong>INICIO</a>
                <span class="right">
                </span>
            </div><!--/ Codrops top bar -->
            <header class="clearfix">
                <h1>PROGRAMA<span>AGENDA DE INNOVACIÓN Y DESARROLLO DE LAS COMUNIDADES MULTIETNICAS</span></h1>
            </header>
            <div class="main">
                <ul id="og-grid" class="og-grid">
                    <li>
                        <a href="http://agenda-innovacion.estudiosnic.org/admin/productores/" data-largesrc="/static/img/1.jpg" data-title="MODULO 1: FAMILIAS" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                            <img src="/static/img/thumbs/1.jpg" alt=""/>
                        </a>
                    </li>
                    <li>
                        <a href="http://agenda-innovacion.estudiosnic.org/admin/promotores/" data-largesrc="/static/img/2.jpg" data-title="MODULO 2: PROMOTORAS" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
                            <img src="/static/img/thumbs/2.jpg" alt="img02"/>
                        </a>
                    </li>
                    <li>
                        <a href="http://agenda-innovacion.estudiosnic.org/admin/asociativos/" data-largesrc="/static/img/3.jpg" data-title="MODULO 3: GRUPOS ASOCIATIVOS" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
                            <img src="/static/img/thumbs/3.jpg" alt="img03"/>
                        </a>
                    </li>
                    <li>
                        <a href="http://agenda-innovacion.estudiosnic.org/admin/registro/" data-largesrc="/static/img/4.jpg" data-title="MODULO 4: REGISTRO ACTIVIADES" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
                            <img src="/static/img/thumbs/4.jpg" alt="img01"/>
                        </a>
                    </li>

                </ul>
                <p>Desarrollado por:  <a href="http://www.fadcanic.org.ni/">FADCANIC</a> || <a href="/admin">Ir a la administración</a></p>

            </div>
        </div><!-- /container -->
{% endblock contenido %}
